/* Colors */

@import 'colors_custom.css';
@define-color background @background;
@define-color groupbackground @background;
@define-color buttoncolor @secondary;
@define-color bordercolor @primary;
@define-color fontcolor @on_surface;

* {
  font-family: 'Fira Sans Semibold';
}

/* Control Center */

.control-center {
  border: 1px solid @bordercolor;
  padding: 10px;
}

button {
  border: 0px;
  min-width: 35px;
  background: @buttoncolor;
  color: @on_secondary;
}

.notification-group-header {
  font-size: 14px;
}

.widget-buttons-grid > flowbox > flowboxchild > button {
  margin: 5px;
}

/* Notification */

.notification {
  border: 1px solid @bordercolor;
  border-radius: 10px;
  padding: 10px;
}

.notification-default-action:hover,
.notification-action:hover {
  color: #ffffff;
  background: transparent;
}

.floating-notifications.background
  .notification-row
  .notification-background
  .close-button {
  background: transparent;
  border-radius: 20px;
  color: @fontcolor;
  background-color: alpha(#fff, 0.5);
  margin: 4px;
  padding: 4px;
}

.floating-notifications.background
  .notification-row
  .notification-background
  .close-button:hover {
  background-color: @primary;
}

.floating-notifications.background
  .notification-row
  .notification-background
  .close-button:active {
  background-color: @primary;
  color: @fontcolor;
}
